#mySidenav a{
    position: absolute;
    padding: 15px;
    border-radius: 0 5px 5px 0;
    color: white;
    width: 100px;
    text-decoration: none;
    left: -90px;
    transition: 300ms;

}
#mySidenav a:hover{
    left: 0;
}

#about{
    top: 20px;
    background: #4caf50;
}

#blog {
    top: 80px;
    background-color: #2196F3;
  }
  
  #projects {
    top: 140px;
    background-color: #f44336;
  }
  
  #contacts {
    top: 200px;
    background-color: #555
  }
